@model List<UserService.Models.UserInfo>

@{
    ViewData["Title"] = "HR Dashboard";
}

<script src="~/js/resumes.js"></script>
<link rel="stylesheet" href="~/css/resumes.css">

<h2>Analyze And Download Resumes</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="tempAlert alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="tempAlert alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form class="resume-filter-form">
    <div class="input-container">
        <input type="text" id="keywordInput" placeholder="Enter skills, e.g., .NET, SQL, Java" required />
    </div>
    <div class="button-container">
        <button type="button" onclick="submitKeywords()" class="btn-primary">Analyze Resumes</button>
    </div>
</form>

<h3>@(Model != null && Model.Any() ? "All Resumes" : "No Resumes Found")</h3>

@if (Model != null && Model.Any())
{
    <div class="resume-table-container">
        <table class="resume-table">
            <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th>Email</th>
                    <th>Resume Uploaded</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resume in Model)
                {
                    <tr>
                        <td>@resume.Name</td>
                        <td>@resume.Email</td>
                        <td>@(resume.CreatedAt != null ? resume.CreatedAt?.ToString("MM/dd/yyyy") : "N/A")</td>
                        <td>
                            <a href="@Url.Action("DownloadResume", "Resumes", new { id = resume.Id })" class="download-link">Download</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}