@model ResumeAnalyzerMVC.Requests.ContactFormRequest

@{
    ViewData["Title"] = "Contact Form";
}
<link rel="stylesheet" href="~/css/contactForm.css">
<script src="~/js/contact.js"></script>

<h2>Contact Us</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="tempAlert alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="tempAlert alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<section id="contact" class="contact">
    <form asp-action="SendForm" asp-controller="ContactForm" method="post" class="contact-form">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="Name">Name</label>
            <input id="Name" name="Name" class="form-control" placeholder="Your Name" required />
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>

            <label for="Email">Email</label>
            <input id="Email" name="Email" type="email" class="form-control" placeholder="Your Email" required />
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>

            <label for="Message">Message</label>
            <textarea id="Message" name="Message" class="form-control" placeholder="Your Message" required></textarea>
            <span class="text-danger">@Html.ValidationMessageFor(model => model.Message)</span>
        </div>

        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</section>

